.list-group-item {
  padding: 5px;
  margin-top: 5px;
  color: #45575f;
  min-width: 15%;
}

.list-group-item:nth-child(1) {
  font-weight: bolder;
}

#movie-details {
  margin-top: 30px;
  height: 100%;
}

#movie-details p {
  padding: 5px;
}
