#welcome {
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 40px;
}
#welcome h1 {
  margin: 40px 40px 0px 40px;
  padding: 20px;
  -webkit-text-emphasis-position: under;
  -webkit-text-emphasis: open;
}
#welcome h2 {
  padding: 20px;
  padding-bottom: 40px;
}
