#welcome {
  text-align: center;
  margin-bottom: 20px;
}
#welcome h1 {
  margin-top: 10px;
  font-size: 25px;
  -webkit-text-emphasis-position: under;
  -webkit-text-emphasis: open;
}
#welcome h2 {
  margin: 20px 0px;
  font-size: 20px;
}

#welcome h3 {
  margin: 20px 0px 40px 0px;
  font-size: 20px;
}
p {
  font-size: 18px;
  font-stretch: extra-expanded;
}
