#register-form {
  background-color: #17a2b8;
}
#login-form {
  background-color: #ffc107;
}

.auth-forms {
  padding: 50px 50px;
}

div.jumbotron {
  margin: 0;
}

#background-img {
  background-image: url("/auth-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 150vh;
  min-width: 100vw;
}
